*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: purple;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
    background: blueviolet;
}



/* Submenu*/

.submenu{
	position: absolute;
	background: white;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
    align-content: center;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: black;
	font-family: 'Open sans'; 
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}